# PlatformIO
firmware/.pio/
firmware/.vscode/

# macOS
.DS_Store

# Editors
*.swp
*~

# KiCad lock files and temp
hardware/kicad/~*.lck
hardware/kicad/.history/
hardware/kicad/fp-info-cache
hardware/kicad/_autosave-*
hardware/kicad/_restore_backup_*/
hardware/kicad/*-backups/
hardware/kicad/*.kicad_prl
